/*egész doksi*/
body {
    color:rgba(193, 219, 227);
    margin: 0;

}


/* nyitó oldal*/
#home {
    background-color: #27013D;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    padding-bottom: 40px;

}

main. {
    background-color:  rgb(230, 217, 217);
}


.kep-meret {
    max-width: 400px;
    }
   
.kepessegek-meret{
    width: 34px;
    padding: 5%;
}
    
.kepessegek{
    display: grid;
    grid-template-columns: auto auto auto auto auto;
justify-content: center;
grid-column-gap: 15px;
grid-row-gap: 10px;

}

.kepessegek .div {
   
}


/*navigációs menü*/
.nav-menu {
p
overflow: hidden;
background-color: rgba(193, 219, 227, 0.95);
position:sticky;
top:0;
}



.nav-menu a {
    float: center;
    display: inline-block;
    text-align: center;
    padding: 14px 30px;
    text-decoration:none;
    text-decoration: bold;
    font-size: 20px;
    color: #27013D;
;
}

/*portfolió rész */
.portfolio-kep {
    max-width:180px
}

.portfolio-conatnier {
display: grid;
grid-template-columns: auto;
justify-content: center;
grid-column-gap: 15px;
grid-row-gap: 60px;
color: #27013D;
}
.p1 , .p2 , .p3 , .p4 , .p5 , .p6 {
 display: grid ;
 grid-template-columns: auto;
 background-color: rgba(193, 219, 227, 0.6);
 padding: 10px;
}
.p1 , .p2 , .p3 , .p4 , .p5 , .p6:{
    background-color:  rgba(193, 219, 227, 1)
}
.portfolio-conatnier button {
    background-color: ;
    width: 90px;
    height: 30px;
    background-color: rgba(255, 202, 58, 0.5);
    border-style: none;
}
.portfolio-conatnier button::hover{
    botton-up:
}

h4 {
    display:inline;
    background-color: rgba(193, 219, 227, 0.6);
    padding-left:10px ;
    padding-top: 5px;
    padding-right:10px;
}

/* kapcsolat tartásos rész*/


.contact-contanier {
display: grid;
grid-template-columns: auto;
justify-content: center;
}

.contact-contanier input {
background-color: rgba(193, 219, 227, 0.95);
border-style: none;
padding:5px;
height:20px;
margin:10px
}
  
/*kicsordulásos kikötést tenni*/ ;


/*töréspontok beállítása*/

@media screen and (min-width: 720px) {
    .p1 , .p2 , .p3 , .p4 , .p5 , .p6 {
        display: grid ;
        grid-template-columns: auto auto;
        background-color:rgba(193, 219, 227, 0.5);
    }
}
@media screen and (min-width: 720px) {
    .welcome {
        grid-area: welcome;
    }
    .nev {
        grid-area: nev;
    }
    .keprolam{
        grid-area: keprolam;
    }
    .kepessegek {
        grid-area: kepessegek;
    }
    #home {
        display: grid;
        grid-template-columns: auto auto;
        grid-template-columns: auto;
justify-content: center;
        grid-template-areas: 
        "welcome keprolam"
        "nev keprolam"
        "kepessegek keprolam"
        }

    .portfolio-kep {
        grid-area: A;
    }

.leiras{
    grid-area: B;
}
.szoveg {
    grid-area: C;
}
.gomb {
    grid-area: D;
}
    .p1 , .p2 , .p3 , .p4 , .p5 , .p6 {
        display: grid ;
        grid-template-columns: auto auto;
        background-color:rgba(193, 219, 227, 0.5);
        grid-column-gap: 20px;
        grid-template-areas: 
        "A B"
        "A C"
        "A C"
        "A D";
    }

    .contact-contanier {
        display: grid;
        grid-template-columns: auto auto;
        justify-content: center;
        grid-template-areas: 
        "name email"
        "email-box email-box"
        "submit submit"
        }
    .name{
        grid-area: name;
    }
    .email{
        grid-area: email;
    }
    .email-box{
        grid-area: email-box;
        height: auto;
        width: auto;
    }
    .submit{
        grid-area: submit;
    }

    .email-meret{
        height: 200px;
        background-color: blue;
    }

}


@media screen and (min-width: 960px) {
    
}

@media screen and (min-width: 960px) {
    .contact-contanier {
        display: grid;
        grid-template-columns: auto auto;
        justify-content: center;
        }
}


@media screen and (min-width: 1140px){

    .portfolio-conatnier  {
    grid-template-columns: auto auto;
}
}