body {
    background-color: #27013D;
    color:white;
    margin: 0;

}

.keprolam {
    max-width: 590px;
    position:relative;
    left:800px;}

/*navigációs menü*/
#home {
    position:relative;
    box-sizing:border-box;
}

   /*magasság beállítása*/

.nav-menu {
overflow: hidden;
background-color: rgba(193, 219, 227, 0.95);
position:sticky;
top:0;
}



.nav-menu a {
    float: left;
    display: block;
    text-align: center;
    padding: 14px 30px;
    text-decoration:none;
    text-decoration: bold;
    font-size: 20px;
    color: #27013D;
;
}

/* kapcsolat tartásos rész*/
.contact input {
    background: radial-gradient(#FF4F79, #27013D);
    margin: 1rem;
    min-width: 20rem;
    display: block;
    margin: auto;
width: 500px;
height: 50px;
}


.contact-area{ 
    box-sizing: border-box;
   

}
