/*egész doksi*/
body {
    background-color: #27013D;
    color:rgba(193, 219, 227);
    margin: 0;

}


/* nyitó oldal*/
#home {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-between;
}
.kep-meret {
    max-width: 400px;
    }
   
.kepessegek-meret{
    width: 34px;
    padding: 5%;
}
    
.kepessegek{
?????;
}

.kepessegek .div {
   
}


/*navigációs menü*/
.nav-menu {
overflow: hidden;
background-color: rgba(193, 219, 227, 0.95);
position:sticky;
top:0;
}



.nav-menu a {
    float: center;
    display: inline-block;
    text-align: center;
    padding: 14px 30px;
    text-decoration:none;
    text-decoration: bold;
    font-size: 20px;
    color: #27013D;
;
}

/*portfolió rész */
.portfolio-kep {
    max-width:180px
}

.portfolio-conatnier {
display: grid;
grid-template-columns: auto;
justify-content: center;

.p1 , .p2 , .p3 , .p4 , .p5 , .p6 {
 display: grid ;
 grid-template-columns: auto;

}

/* kapcsolat tartásos rész*/


.contact {
    display: grid;
    grid-template-columns: auto;
    justify-content: center;
    background-color: aliceblue;
}

.email-box{
height: 100px;
}
/*kicsordulásos kikötést tenni*/ ;

